@charset 'UTF-8';

:root {
    --cor-primary: #2AB991;
    --cor-cinza: #F8F9FA;
    --cor-borda: #C9E9DE;
    --cor-footer: #333333;
    --cor-titulo: #404040;
    --cor-paragrafo: #404040;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    border-top: 6px solid var(--cor-primary);
}

.link {
    color: white;
    text-decoration: none;
    display: block;
}

.btn-menu {
    text-transform: capitalize;
    background-color: var(--cor-primary);
    border: 2px solid var(--cor-primary);
    border-radius: 20px;
    padding: 16px 24px;
    cursor: pointer;
    color: white;
    margin-left:32px;
}

.btn-menu:hover {
    background-color: transparent;
    color: var(--cor-primary);
}

.btn-menu-secundary {
    text-transform: capitalize;
    background-color: transparent;
    border: 2px solid var(--cor-primary);
    border-radius: 20px;
    padding: 16px 24px;
    cursor: pointer;
    color: var(--cor-primary);
    margin-left:32px;
}

.btn-menu-secundary:hover {
    background-color: var(--cor-primary);
    color: white;
}

.titulo {
    font-size: 32px;
    color: var(--cor-titulo);
    margin-bottom: 32px;
}

.paragrafo {
    font-size: 20px;
    color: var(--cor-paragrafo);
    margin-bottom: 20px;
    line-height: 30px;
}

#wrapper {
    width: 1280px;
    display: flex;
    margin: 0 auto;
    background-color: white;
}

#navigatie {
    width: 15%;
    flex-flow: column;
    border-left: 1px solid var(--cor-borda);
    border-right: 1px solid var(--cor-borda);
}

#navigatie #menu {
    background-color: var(--cor-cinza);
    height: 100%;
    overflow-y: scroll;
}

#navigatie li {
    list-style-type: none;
}

#navigatie a {
    text-transform: capitalize;
    padding: 12px;
    color: var(--cor-primary);
}

#navigatie a:hover {
    background-color: var(--cor-primary);
    color: white;
}

#main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

#main #header {
    padding: 16px 0px;
    background-color: var(--cor-cinza);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main header #logo {
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main header #logo #ico-logo {
    background-image: url('../images/OIP-removebg-preview.png');
    background-size: cover;
    height: 80px;
    width: 80px;
}

#main #header #box-pesquisa {
    background-color: transparent;
    border: 2px solid var(--cor-primary);
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 32px;
    margin-right: 32px;
}

#main #header #box-pesquisa input {
    background-color: transparent;
    color: var(--cor-primary);
    border: 0;
    padding: 16px 24px;
}

#main article {
    padding: 48px 32px;
}

#main #rodape {
    background-color: var(--cor-footer);
    color: white;
    padding: 32px;
}