@charset 'UTF-8';

:root {
    --cor-primary: #63B592;
    --cor-light-1: #628274;
    --cor-light-2: #434F4A;
    --cor-dark: #333333;
    --cor-dark-1: #173327;
    --cor-dark-2: #21332B;
    --cor-divisa: #86baa3;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #CFEADC;
    display: flex;
    justify-content: center;
}

.link {
    color: white;
    text-decoration: none;
    display: block;
}

.btn-menu {
    text-transform: capitalize;
    background-color: #48825D;
    border: 2px solid #48825D;
    border-radius: 20px;
    padding: 16px 24px;
    cursor: pointer;
    color: var(--cor-dark-1);
    margin-left:32px;
}

.btn-menu:hover {
    background-color: transparent;
}

.btn-menu-secundary {
    text-transform: capitalize;
    background-color: transparent;
    border: 2px solid #48825D;
    border-radius: 20px;
    padding: 16px 24px;
    cursor: pointer;
    color: var(--cor-dark-1);
    margin-left:32px;
}

.btn-menu-secundary:hover {
    background-color: #48825D;
}

.titulo {
    font-size: 32px;
    color: var(--cor-dark-1);
    margin-bottom: 32px;
}

.paragrafo {
    font-size: 20px;
    color: var(--cor-light-1);
    margin-bottom: 20px;
    line-height: 30px;
}

#wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: white;
}

#navigatie {
    width: 15%;
    flex-flow: column;
    overflow-y: scroll;
}

#navigatie #menu {
    background-color: var(--cor-primary);
    height: 100%;
}

#navigatie li {
    list-style-type: none;
}

#navigatie a {
    text-transform: capitalize;
    padding: 12px;
    border-bottom: 1px solid var(--cor-divisa);
}

#navigatie a:hover {
    background-color: var(--cor-light-1);
}

#main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

#main #header {
    background-color: var(--cor-primary);
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main header #logo {
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main header #logo #ico-logo {
    background-image: url('https://th.bing.com/th/id/OIP.f2J7GAB_mDz6l9lB5Jwq4AHaHc?w=204&h=205&c=7&r=0&o=5&pid=1.7');
    background-size: cover;
    background-color: var(--cor-primary);
    background-blend-mode: overlay;
    height: 80px;
    width: 80px;
}

#main #header #logo .link{
    color: black;
    font-size: 48px;
    font-style: italic;
    
}

#main #header #box-pesquisa {
    background-color: transparent;
    border: 2px solid #48825D;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 32px;
}

#main #header #box-pesquisa input {
    background-color: transparent;
    color: #48825D;
    border: 0;
    padding: 16px 24px;
}

#main article {
    padding: 48px 32px;
}

#main #rodape {
    background-color: var(--cor-dark);
    color: white;
    padding: 32px;
}